#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;

}

/* Nav Bar styling */
.navbar {
  margin-bottom: 17px;
}

.navbar-brand {
  font-weight: bold;
}

.mt-6 {
  margin-top: 120px !important;
}

@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

body {
  display: flex;
  justify-content: center;
}


.UseProps{
  font-family:'Franklin Gothic Medium', 'Arial', Arial, sans-serif;
  font-size: 1em;
  padding: 20px;
  border: 2px dashed rgba(0, 0, 0, 0.127)
}



/* for star rating */
.UsePropsA p{
 margin: 0;
}

span {
    /* font-size: 2rem; Increase the star size */
    /* color: gold; /* Star color */
} 

span:hover {
    color: orange; /* Change color on hover */
}